.footer {
  margin: 50px 0 0 0;
  padding: 50px 0;
  border-top: 3px solid rgba(255, 255, 255, 0.1);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .footer__icon {
    color: #f1c40f;
    font-size: 40px;
    margin-bottom: 20px;
  }
  .footer__text {
    color: #f1c40f;
    font-weight: 800;
    text-transform: uppercase;
  }
  div {
    margin-top: 10px;
  }
}
