footer.footer
    .footer__icon
        i.fab.fa-youtube
    span.footer__text #{siteName} Course #{new Date().getFullYear()} &copy;
    div
        span.footer__text typescript﹒nodejs﹒express﹒passport﹒mongodb﹒pug﹒scss