.home-videos {
  margin-top: 100px;
  overflow: hidden;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  &::-webkit-scrollbar {
    display: none;
  }
  .videoBlock {
    display: inline-block;
    width: 500px;
    &:not(:last-child) {
      margin-right: 50px;
    }
    video {
      border-radius: 5px;
    }
  }
}
